<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('hello_world') }}">Web 3</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hello_world') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('inspiration') }}">Inspiration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('loadData') }}">loadData</a>
      </li>
    </ul>
  </nav>
<div class="jumbotron jumbotron-header">
<h1 class="header-title">Web 3 Website</h1>
</div>